*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    display: flex;
    flex-direction:row;
    /* flex-wrap: wrap; */
    justify-content: center;
    background-color: hsl(0, 0%, 95%);
    height: 98vh;
    /* width: 707px; */
    /* align-items: center; */
   /* padding:136px ; */

}
.box1{
    height: 300px;
    width: 500px;
    background-color:hsl(31, 77%, 52%);
     padding: 45px;
}
/* .box1 img{
    color: hsl(0, 0%, 95%);
} */
.box1 h1{
color: hsl(0, 0%, 95%);
margin-top: 30px;
}
.box2{
    height: 300px;
    width: 500px;
    background-color: hsl(184, 100%, 22%);
    padding: 45px;
}
.box2 h1{
    color: hsl(0, 0%, 95%);
}
.box3{
    height: 300px;
    width: 500px;
    background-color: hsl(179, 100%, 13%);
    padding: 45px;
}
.box3 h1{
    color: hsl(0, 0%, 95%);
}