*{
    margin: 0%;
padding: 0%;
}
body{
    background: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
#intro {
padding-bottom: 10rem;
}
#intro p{
    font-size: 1rem;
    line-height: 1.5;
    padding: 10px;
    margin: 10px;
}
#intro .name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.name span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    color: aqua;
    display: block;
}
nav ul{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    flex-flow:row-reverse;
    align-items: center;
    gap: 2rem;
}
nav a{
    display: block;
    text-decoration: none;
    color: white;
}
nav :hover{
    color: black
}